@import url('fonts_embed.css');

.DescartesButtonContainer {
  border-radius: 4px;
}

.flat {
  box-sizing: border-box;
  border-color: rgba(0,0,0,0.5);
  border-bottom-style: solid;
  border-width: 2px;
  border-radius: 1px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.flat::before { 
  box-sizing: border-box; 
  content: ''; 
  position: absolute; 
  left: 0; 
  top: 0; 
  width: 46px;
  height: 46px;
  pointer-events: none; 
  display:none;
}
.flat[data-active="true"]:active { 
  border-style: solid; 
  border-width: 1px; 
}
.flat[data-active="true"]:active::before { 
  background-position: 1px 1px; 
  width: 47px; 
  border-width: 1px; 
}
.flat[data-active="false"] { 
  border-width:0;
}

.icon::before { 
  background: rgba(50,50,50,0.4);;
  display: block;
}
